@model GGC.TestCaseGenerator.Models.InputParameter
@{
    ViewBag.Title = "Add Specification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
<div>
    <div>
        <label>Specification Name: </label>
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
    </div>
    <br>
    <div>
        <label>Specification Text: </label>
        @Html.TextBoxFor(t => t.Text, new { @class = "form-control" })
    </div>
    <br>
    <button class="btn btn-success" type="submit" onclick="">Submit</button>
    <br>
    <br>
</div>
}