@model GGC.TestCaseGenerator.Models.InputParameter
@{
    ViewBag.Title = "Add Specification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
<div>
    <div>
        <label>Specification Name: </label>
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
    </div>
    <br>
    <div>
        <label>Specification Text: </label>
        @Html.TextBoxFor(t => t.Text, new { @class = "form-control" })
    </div>
    <br>
    <button class="btn btn-success" type="submit" onclick="">Submit</button>
    <br>
    <br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> I have a boat</label>

</div>
}