@model GGC.TestCaseGenerator.Models.TestSpecification
@{
    ViewBag.Title = "Add Specification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewBag.Message</h3>

 <div class="jumbotron">
     <form method="post">
         <input class="btn btn-success" onclick="" type="submit" value="Read Json File" /><br /><br />
         <label>Enter test specification name</label>
         <input type="text" id="specificationNameId" name="specificationName" /><br /><br />
         <label>Enter test specification text</label>
         <input type="text" id="specificationTextNameId" name="specificationTextName" />
         <br><br />
         <button class="btn btn-success" type="submit" onclick="">Submit Specification</button>
     </form>
        <br>
     <br>
 </div>
