@{
    ViewBag.Title = "ExpectedResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/specification-expectedresult.js"></script>
}
<div class="jumbotron">
    <form method="post">
        <div id="ER1">
            <br />
            <h3><b>Click to add other Expected Results</b></h3>
            <button onclick="appendRow()" value="Addbox">Add Expected Results</button>
            <br />
            <label>Enter Expected Results Name:</label>
        </div>
    </form>

    <button type="submit" onclick="submittingExtraExpectedResults()" id="add">Submit</button>
    <button type="submit" onclick="displayAllArrayData()" id="display">Display</button>
</div>