@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Testing centers</h1>
    <br>
    <div id="IP1">
        <button onclick="appendRow()" value="Add box">Add InputParameters</button><br>
        <br>
        Input Name: @Html.TextBox("Name")
        Input Text: @Html.TextBox("Text")
        <br>
    </div>
    <script>
        var x = 1
        function appendRow()
        {
            var d = document.getElementById('IP1');
            Enter Equivalance Class
            d.innerHTML += "<input type='text' id='tst" + x++ + "'><br >";
            d.innerHTML += "<input type='text' id='tst" + x++ + "'><br >";
        }
    </script>
</div>