@{ 
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<input class="btn btn-success" onclick="" type="" value="Generate Json File" />
<input class="btn btn-success" onclick="" type="submit" value="Submit Test Specfiication" />