@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<div class="jumbotron">
    <form method="post">
        <input class="btn btn-success" onclick="" type="submit" value="Generate Json File" />
       
    </form>
</div>
