@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h3>Category Parition Method</h3>
    <br>
    <div id="IP1">

        <br />
        <div>
            <p>
                A method for creating functional test suites has been developed in zohich a
                test engineer analyzes the system specification, writes a series of formal test
                specifications, and then uses a generator tool to produce test descriptions
                from which test scripts are written. The advantages of this method are that
                the tester can easily modify the test specification when necessary, and can
                control the complexity and number of the tests by annotating the tests
                specification with constraints.<br /><br />
                <span> - THOMAS J. OSTRAND and MARC J. BALCER</span>
            </p>
        </div>
       
    </div>
