@model GGC.TestCaseGenerator.Models.InputParameter

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/specification-inputparameter.js"></script>
}

<div class="jumbotron" id="jumbotron">
    <h1>Welcome to Testing centers</h1>
    <br>
    <form method="post">
        <div id="IP1">

            <br />
            <p>
                <h3><b>Click to add other Input Parameter</b></h3>
                <br>
                <label id="IN1" name="IN2">Input Name:</label>
                <input id="IPara1" name="IPara1" placeholder="Enter Input Name Here" type="text" style="width:200px" /><br />
                <label id="IT1">Input Text:</label>
                <input id="IPara2" placeholder="Enter Input Text Here" type="text" style="width:200px" />
                <br>
        </div>


        <div id="IP2">
            <br />
            <label><b>Click to add more Equilvalence Classes</b></label>
            <br />
            <button onclick="appendRow2()" value="Addbox">Add Equilavalence Classes</button><br />
            <label id="IN1" name="IN2">Enter Equilvalence Class Name:</label>
            <input id="IPara1" placeholder="Enter Equilvalence Class Name Here" type="text" style="width:200px" /><br />
            <label id="IT1">Enter Equilvalence Class:</label>
            <input id="IPara2" placeholder="Enter Equilvalence Class Here" type="text" style="width:200px" />
            <br>

        </div>
        <button type="button" onclick="someFunc()" id="add">Submit</button>
        <button type="button" id="display">Display</button>
    </form>
</div>


    </script>

<button onclick="" type="submit">Submit</button>
</div>