@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resources</h2>

<style>
    .style {
        margin: 10px 20px 10px 30px;
    }
</style>

<br />
<div class="style">
    <a href="https://www.semanticscholar.org/paper/The-category-partition-method-for-specifying-and-Ostrand-Balcer/98b23920a15ecf1cf382788521e4835be4d7b9da">
        <b>Original paper by Ostrand and Balcer<span class="Apple-converted-space"> </span></b>
    </a>
</div>

<div class="style">
    <a href="https://www.youtube.com/watch?v=frzRmafsPBk">
        <br />
        <b>The category-partition method explained<span class="Apple-converted-space"> </span></b>
    </a>
</div>


<div class="style">
    <a href="https://www.youtube.com/watch?v=Vlvyo-GDwZs">
        <br />
        <b>A specific black box testing approach<span class="Apple-converted-space"> </span></b>
    </a>
</div>

<div class="style">
    <a href="http://www.siptech.com/downloads/CPM.pdf">
        <br />
        <b>An approach paper on applying CPM to mobile platform testing<span class="Apple-converted-space"> </span></b>
    </a>
</div>


<div class="style">
    <a href="http://www.cs.umd.edu/~atif/Teaching/Fall2003/Lectures/3.pdf">
        <br />
        <b>The steps of the category-partition method<span class="Apple-converted-space"> </span></b>
    </a>
</div>
